mat-card {
  height: 200px;
  background-color: rgb(135, 187, 250);
  color: white;
  display: flex;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  button {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}

.user-details {
  margin-left: 32px;

  h2 {
    margin-bottom: 10px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
  }
}
