<mat-card>
  <button mat-icon-button [matMenuTriggerFor]="edit">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #edit="matMenu">
    <button mat-menu-item (click)="editUser()">Edit</button>
  </mat-menu>

  <img src="assets/img/profile.png" alt="" />
  <div class="user-details">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <div class="user-info">
      <div>Email: {{ user.email }}</div>
      <div>Birthdate: {{ user.birthDate | date: "dd.MM.yyyy" }}</div>
      <div>Address: {{ user.street }}, {{ user.zipCode }} {{ user.city }}</div>
    </div>
  </div>
</mat-card>
